# Telegram API Configuration
API_ID=your_api_id
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token


# Owner Information
OWNER_ID=your_telegram_user_id
OWNER_NAME=𝚂𝚊𝚖𝚞𝚎𝚕~


# Database
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/database_name
DATABASE_NAME=manager_bot


# Channels
LOG_CHANNEL_ID=-100xxxxxxxxxx
OFFICIAL_CHANNEL=@your_channel


# Bot Settings
TIMEZONE=Asia/Kolkata
BOT_VERSION=1.0.0


# Appointment Settings
MEETING_START_TIME=13:00
MEETING_END_TIME=23:00
MEETING_DURATION=30
REMINDER_INTERVAL=15


# Maintenance
MAINTENANCE_MODE=false
SANDBOX_MODE=false